/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Home page ------------------------------------------------------------------------------------ */

.search {
    width: 100%;
    position: relative;
}

.search__background-img {
    width: 100%;
    height: 350px;
}

.search__input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    opacity: 0.8;
    height: 35px;
    width: 120px;
    border: none;
    padding: 15px;
    transition: all 0.5s;
}

    .search__input::placeholder {
        color: black;
        display: flex;
        text-align: center;
    }

    .search__input:focus {
        width: 225px;
        transition: all 1s;
    }

.create-trip {
    width: 100%;
    position: relative;
}

.create-trip__background-img {
    width: 100%;
    height: 350px;
    border-radius: 2px;
}

.create-trip__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-trip__input {
    background: white;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    height: 35px;
    width: 120px;
}
/* Home page end ------------------------------------------------------------------------------------ */


<<<<<<< HEAD
/* activity page ------------------------------------------------------------------------------------ */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(86, 204, 242, 0.38);
    width: 80vw;
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form__input {
    margin-right: 5px;
    color: black;
    border: none;
    padding: 5px 0 5px 30px;
    border-radius: 5px;
    width: 35vw;
    height: 40px;
}

.form__input-container {
    position: relative;
}

.form__location {
    padding: 5px 0 5px 30px;
    width: 35vw;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.form__activity {
    display: flex;
    margin: 5px auto;
    width: 35vw;
    border: none;
    padding: 10px;
    background: rgba(86, 204, 242, 0.38);
    border-radius: 10px;
}

.form__actions {
    position: absolute;
    right: 0;
    top: 0;
}

    .form__actions:after {
        content: "";
        width: 30px;
        height: 30px;
        background: url(/images/icons/Search_Icon.svg) no-repeat;
        top: 50%;
        right: 0;
        position: absolute;
        background-size: 30px 30px;
        transform: translateX(-50%);
    }

.activity__button {
    font-size: 21px;
    font-weight: bold;
}

.activity {
    display: grid;
    grid-template-rows: 150px;
    gap: 10px;
}
.activity__item {
    display: grid;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: auto;
}

.activity__img {
    width: 200px;
    height: 150px;
}
.activity__header {
    font-size: 24px;
    font-weight: bold;
}
.activity-info{
    margin-left: 10px;
}

.info{
    display:block;
}
.activity__add {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* activity page end ------------------------------------------------------------------------------------ */



button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.flex {
=======
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* My Trip pag ------------------------------------------------------------------------------------ */
.my-trip {
    display: flex;
}
.trip-location {
>>>>>>> bauBranch
    display: flex !important;
}

.trip-location-imageUrl {
    margin-right: 1em;
    width: 500px
}
.activity-image {
    width: 200px;
    height: 150px;
}

.info-span {
    display: block;
}
figure {
    position: relative;
    text-align: center;
    width: 100%;
}

    figure img {
        width: 100%;
        filter: brightness(50%);
    }

figcaption {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size: 2em;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.trip-activities {
    display: flex;
    margin-bottom: 20px;
}

.trip-activity-imageUrl {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}
.trip-activity-info {

}


/* My trip page end ------------------------------------------------------------------------------------ */


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
