@model IEnumerable<TripEventPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<section>
    <h1>My Trip</h1>
</section>
<section>
    <figure>
        <img src="#" alt="Alternate Text" />
        <p>My Trip to</p>
    </figure>
    <p>12-11-2021 - 25-11-2021</p>
</section>

<section>
    <figure>
        <img src="/Images/" alt="" style="width:50px" />
    </figure>
    @foreach (var item in Model)
    { 
    <p>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p> 
    }
    </section>

@*
    <p>
        <a asp-action="AddActivity">Add Activity</a>
    </p>
*@
