@model IEnumerable<TripEventPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<section>
    <h1>My Trips</h1>
</section>

<section>
    @foreach (var item in Model)
    {
        if (item.StartDate >= DateTime.Now || item.EndDate <= DateTime.Now)
        {
            <figure>
                <img src="#" alt="Alternate Text" />
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
            </figure>
            <p> @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
        }
    }
</section>

@*
    <p>
        <a asp-action="AddActivity">Add Activity</a>
    </p>
*@