@model IEnumerable<TripEventPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<section>
    <h1>
        My Trip
    </h1>
</section>
<section>
    <figure>
        <img src="#" alt="Alternate Text" />
        <figcaption>
            My Trip to ....
        </figcaption> 
    </figure>
    <p>13-05-2011 - 12-06-2011</p>
</section>

<section>
    <figure>
        <img src="#" alt="Alternate Text" />
        <figcaption>
            My Trip to ....
        </figcaption>
    </figure>
    <p>13-05-2011 - 12-06-2011</p>

    <figure>
        <img src="#" alt="Alternate Text" />
        <figcaption>
            My Trip to ....
        </figcaption>
    </figure>
    <p>13-05-2011 - 12-06-2011</p>

    <figure>
        <img src="#" alt="Alternate Text" />
        <figcaption>
            My Trip to ....
        </figcaption>
    </figure>
    <p>13-05-2011 - 12-06-2011</p>
</section>
<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {

    <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> 
    <a asp-action="Details" asp-route-id="@item.TripId">Details</a> 
    <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
}

